<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>WAFER FAULT DETECTION</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>upload csv file for prediction</h1>
    <form action="" method="POST" enctype="">
        <div class="frame">
            <div class="center">
                <div class="title">
                    <h2> drop file to uload</h2>
                </div>


            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
			<input type="file" class="upload-input" name = "file" accept=".csv" >
            </div>
        <button type="submit" class="btn" name="uploadbutton" >upload the file</button>
        </div>
    </form>
</body>
</html>